<html>
<head>
<title>Listing {{ chapter }}.{{ listing }}: {{ title }}</title>
</head>
<body style="background-color: beige; padding: 10px;">
<b>Listing {{ chapter }}.{{ listing }}: {{ title }}</b>
<br/>
<pre style="background-color: white; padding: 10px; width: 79ch; white-space: pre-wrap; display: inline-block; border: 2px solid black;">
{{ output }}
</pre>
</body>
</html>